<div *ngIf="note && noteId && canNavigateToPreviousNote()">
  <button matButton (click)="navigateToPreviousNote()">Previous</button>
</div>

<div class="note" *ngIf="note">

  <div class="note__edit">
    <a routerLink="/notes/{{ note?.id }}/edit">Edit</a>
  </div>

  <div class="note__author">
    <strong>{{ note?.author }}</strong>
  </div>

  <div class="note__created-date" *ngIf="note?.createDate">
    {{ note.createDate | date:"YYYY-MM-dd"}}
  </div>

  <div class="note__title" *ngIf="note?.title">
    <a routerLink="/notes/{{ note?.id }}">"{{ note.title }}"</a>
  </div>

  <div class="note__text">
    {{ note?.text }}
  </div>

  <div class="note__tags">
    <ul>
      <li *ngFor="let tag of note?.tags">{{tag.name}}</li>
    </ul>
  </div>

</div>

<div class="note" *ngIf="!note">
  BRAK notatki
</div>

<div *ngIf="note && noteId && canNavigateToNextNote()">
  <button (click)="navigateToNextNote()">Next</button>
</div>